Flow 2.json
[{"id":"6a0f6151.3066e","type":"tab","label":"流程2","disabled":false,"info":""},{"id":"2baeddae.9889c2","type":"inject","z":"6a0f6151.3066e","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":200,"wires":[["9f615c98.7309a"]]},{"id":"9f615c98.7309a","type":"function","z":"6a0f6151.3066e","name":"payload","func":"msg.headers={\n    deviceKey: \"SULUhNHj2UsNyy90\"\n    };\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":320,"wires":[["85055bcb.c10b18"]]},{"id":"85055bcb.c10b18","type":"http request","z":"6a0f6151.3066e","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"http://api.mediatek.com/mcs/v2/devices/D0Ew2rwj/datachannels/LEDControl/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":336,"wires":[["dad4428e.1cc9a"]]},{"id":"dad4428e.1cc9a","type":"debug","z":"6a0f6151.3066e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":360,"wires":[]}]