Flow 3.json
[{"id":"d4b9317c.d217d","type":"tab","label":"流程3","disabled":false,"info":""},{"id":"8f7c47de.406e88","type":"inject","z":"d4b9317c.d217d","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":260,"wires":[["b7389367.915ef"]]},{"id":"b7389367.915ef","type":"function","z":"d4b9317c.d217d","name":"","func":"msg.headers={\n    deviceKey: \"SULUhNHj2UsNyy90\"\n    };\nmsg.payload=\"Temperature,,26.3\";\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":340,"wires":[["389a87e9.1b1558"]]},{"id":"389a87e9.1b1558","type":"http request","z":"d4b9317c.d217d","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"https://api.mediatek.com/mcs/v2/devices/D0Ew2rwj/datapoints.csv","tls":"","persist":false,"proxy":"","authType":"","x":420,"y":340,"wires":[["97b03ad9.98c6b8","ef9ab14d.afd7a"]]},{"id":"97b03ad9.98c6b8","type":"debug","z":"d4b9317c.d217d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":380,"wires":[]},{"id":"ef9ab14d.afd7a","type":"http response","z":"d4b9317c.d217d","name":"","statusCode":"","headers":{},"x":600,"y":340,"wires":[]}]