Flow 5.json
[{"id":"d59adbe5.1771a8","type":"tab","label":"流程5","disabled":false,"info":""},{"id":"f4f2f6d3.0ef258","type":"http in","z":"d59adbe5.1771a8","name":"","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":130,"y":220,"wires":[["df06d78f.f343f8","f500017.2ea87"]]},{"id":"df06d78f.f343f8","type":"function","z":"d59adbe5.1771a8","name":"set to 1","func":"msg.payload = 1 ;\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":260,"wires":[["12a2596.1b343a7"]]},{"id":"12a2596.1b343a7","type":"rpi-gpio out","z":"d59adbe5.1771a8","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":460,"y":360,"wires":[]},{"id":"f500017.2ea87","type":"function","z":"d59adbe5.1771a8","name":"","func":"msg.payload=\"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":200,"wires":[["22b713e5.431f8c","aa8f87a.b8d2178"]]},{"id":"22b713e5.431f8c","type":"http response","z":"d59adbe5.1771a8","name":"","statusCode":"","headers":{},"x":690,"y":320,"wires":[]},{"id":"aa8f87a.b8d2178","type":"debug","z":"d59adbe5.1771a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":100,"wires":[]},{"id":"655800f1.7370d","type":"http in","z":"d59adbe5.1771a8","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":110,"y":480,"wires":[["adf3c95c.798768"]]},{"id":"adf3c95c.798768","type":"function","z":"d59adbe5.1771a8","name":"Clear to 0","func":"msg.payload = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":480,"wires":[["12a2596.1b343a7","3c799883.57a618"]]},{"id":"3c799883.57a618","type":"function","z":"d59adbe5.1771a8","name":"LOW","func":"msg.payload=\"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":520,"wires":[["22b713e5.431f8c"]]}]