Flow 4.json
[{"id":"48ea7bca.26a0c4","type":"tab","label":"流程4","disabled":false,"info":""},{"id":"209db243.d61fde","type":"http in","z":"48ea7bca.26a0c4","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":190,"y":280,"wires":[["145500c5.c68bbf"]]},{"id":"dfd5bf3d.a4f5f","type":"debug","z":"48ea7bca.26a0c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":560,"y":380,"wires":[]},{"id":"9174f1c8.8fb25","type":"rpi-gpio in","z":"48ea7bca.26a0c4","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":170,"y":380,"wires":[["c6f1165e.dbe828"]]},{"id":"c6f1165e.dbe828","type":"function","z":"48ea7bca.26a0c4","name":"Set GPIO","func":"global.set(\"GPIO\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":380,"wires":[["dfd5bf3d.a4f5f"]]},{"id":"145500c5.c68bbf","type":"function","z":"48ea7bca.26a0c4","name":"Get GPIO","func":"msg.payload=global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":280,"wires":[["dfd5bf3d.a4f5f","bfbbdfee.cc0c8"]]},{"id":"bfbbdfee.cc0c8","type":"http response","z":"48ea7bca.26a0c4","name":"","statusCode":"","headers":{},"x":580,"y":280,"wires":[]}]