Flow 1.json
[{"id":"325a20f4.97187","type":"tab","label":"流程1","disabled":false,"info":""},{"id":"db22c582.661818","type":"rpi-gpio in","z":"325a20f4.97187","name":"Button","pin":"7","intype":"up","debounce":"25","read":true,"x":90,"y":320,"wires":[["9e312cf1.be2f2","7e5c8125.7a68d"]]},{"id":"db5a089f.a91e18","type":"rpi-gpio out","z":"325a20f4.97187","name":"LED","pin":"11","set":"","level":"0","freq":"","out":"out","x":590,"y":360,"wires":[]},{"id":"7e5c8125.7a68d","type":"debug","z":"325a20f4.97187","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":280,"wires":[]},{"id":"9e312cf1.be2f2","type":"switch","z":"325a20f4.97187","name":"if input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":380,"wires":[["271413d4.8a3dbc"],["6379de7.f2c9a2"]]},{"id":"271413d4.8a3dbc","type":"change","z":"325a20f4.97187","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":340,"wires":[["db5a089f.a91e18"]]},{"id":"6379de7.f2c9a2","type":"change","z":"325a20f4.97187","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":400,"wires":[["db5a089f.a91e18"]]}]